#!/usr/bin/make -f

%:
	dh $@ 

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_auto_build:
	dh_auto_build
	python2.7 setup.py build; \

override_dh_auto_install:
	dh_auto_install
	python2.7 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \


